@import "../../theme/variables";
@import "../../theme/mixins";

.card-container {
  max-width: 23vw;
  background-color: map_get($colors,primary-background);
  min-width: 300px;
  margin: 15px;
  @include transition(all,0.1s);
  @include box-shadow(3px, 3px, 8px, 0px, rgba(0,0,0,0.3));

  &:hover {
    @include transform(scale(1.07,1.07));
    @include box-shadow-multiple(0, 8px, 17px, 0, rgba(0, 0, 0, .2), 0, 6px, 20px, 0, rgba(0, 0, 0, .15));
    cursor:pointer;
  }
  .card-preview {

    img{
      width: 100%;
      height: 100%;
      vertical-align: top;
    }
  }
  .card-description {
    padding: 0 1em;
    position: relative;
  }
}
