@import "../../theme/variables";
@import "../../theme/mixins";

.primary-search-wrapper {
  background-color: map_get($colors,twitch);
  @include box-sizing(border-box);
  height: $navbar-height;
  z-index: 1000;
  .header-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;

    .header-content {
      height: 100%;
      .logo {
        margin: 1em 2em;
        color: white;
      }
      .search-button {
        padding: 10px 0;
        margin: 0 32px;
        width: 200px;
        @include box-sizing(border-box);
        height: 100%;

        .nav-item {
          background-color: rgba(255, 255, 255, 0.2);
          color: white;
          font-family: inherit;
          font-size: 15px;
          font-weight: bold;
          text-decoration: none;
          @include flexbox();
          @include flex-direction(row);
          @include flex(1);
          @include border-radius(4px);
          @include align-items(center);
          @include box-orient(horizontal);
          @include box-direction(normal);
          height: 40px;

          &:hover {
            cursor: pointer;
          }

          .searchbox-container {
            @include flexbox();
            @include flex(1);
            @include align-items(center);
            @include box-align(center);
            padding: 0 10px;

            .inactive-search {
              font-size: 16px;
              line-height: 20px;
              font-weight: 700;
            }
          }
        }
      }
    }
  }


}